<div class="row header fixed-top">    
  <div class="col-3 d-flex justify-content-center">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="..">
            <img alt="" src="" width="130" >
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-6 d-flex justify-content-center align-items-center">
    <p class="h1">Radicación</p>
  </div>
  <div class="col-3  d-flex justify-content-end align-items-center">
    <div class="row d-flex justify-content-end align-items-center" >
      <div class="col">
        <button type="button" class="btn btn-green btn-sm btn-block" ></button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-white btn-sm btn-block">Cerrar sesión</button>
      </div>
    </div>
  </div>  
</div>
<div class="row cuerpo">    
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="row footer fixed-bottom" >
  <div class="col-12 d-flex justify-content-center align-items-center" >
    <p> © Derechos reservados al proyecto Improving Labour Courts dirigido por Joyce Sadka</p>
  </div>
</div>